<% if comment.persisted? %>
  <%= render partial: 'comments/comment_content', locals: { comment: comment } %>
  <div class="ml-8">
    <% comment.comments.each do |reply| %>
      <%= render partial: 'comments/comment', locals: { comment: reply } %>
    <% end %>
  </div>

<% end %>
