<div id="<%= dom_id(comment) %>" class="flex flex-row gap-4">
  <p class="my-5">
    <strong class="block font-medium text-2xl mb-1">
      <%= comment.user ? comment.user.username : 'Anonymous' %>
    </strong>
    <%= comment.body %>
  </p>
</div>
